# PostgreSQL (db service)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=20003

# Backend
BACKEND_HOST_PORT=20002
BACKEND_PORT=20002
FRONTEND_URL=http://localhost:20001

# Frontend
FRONTEND_HOST_PORT=20001
FRONTEND_PORT=20001
NEXT_PUBLIC_API_URL=http://localhost:20002
